databases:
  - name: postgres
    ipAllowList: []
    plan: free

services:
  - type: web
    name: toyapp
    env: ruby
    buildCommand: "./bin/render-build.sh" #the build script that was created 
    startCommand: "bundle exec rails s" #the command that Render will run to the start app
    envVars:
      - key: RAILS_MASTER_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase: 
          name: postgres
          property: connectionString
 